* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

table td {
  width: 100px;
  height: 100px;
  border: solid 2px #805a3b;
  box-shadow: 2px 2px 2px #805a3b;
  border-radius: 5px;
  text-align: center;
  background-color: #fd974f;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 32px;
}
table tr {
  color: #c60000;
}

table {
  margin: auto;
}

.element {
  padding: 50px 30px 50px 30px;
  max-width: 1200px;
  margin: 0px auto;
}

@media (max-width: 1200px) {
  .element {
    max-width: 970px;
  }
  .main {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .element {
    max-width: 750;
  }
  .main {
    max-width: 750;
  }
}

@media (max-width: 767px) {
  .element {
    max-width: none;
  }
  .main {
    max-width: none;
  }
}

body {
  background-color: #fef2e4;
}

.main {
  display: flex;
}

.menu {
  width: 30%;
 
 
}

.element {
  width: 70%;
  
}

.menu ul {

  width: -moz-min-content;    
  width: -webkit-min-content;
  margin: auto;
  margin-top: 150px;
  text-align: center;
  white-space: nowrap;
  background-color: #fd974f;
  color: #805a3b;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 7px;
  padding: 50px 30px 50px 30px;
  border: solid 2px #805a3b;
  box-shadow: 2px 2px 2px #805a3b;
 
}

.menu li{
  padding-bottom: 10px;
}
.menu button {
  color: #805a3b;;
  background-color: #fd974f;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 7px;
}
